<div id="app" class="d-flex flex-column h-100 min-vh-100">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Architecture Studio</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item" *ngIf="canShowUsersSection">
                <a href="/users" class="nav-link">Users</a>
            </li>
            <li class="nav-item" *ngIf="canShowProjectsSection">
                <a href="/projects" class="nav-link">Projects</a>
            </li>
            <li class="nav-item" *ngIf="canShowCustomersSection">
                <a href="/customers" class="nav-link">Customers</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
                <a class="nav-link">
          Logged as: <strong>{{ username }}</strong>
        </a>
            </li>
            <li class="nav-item">
                <a href class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container d-flex flex-column flex-fill justify-content-center">
        <router-outlet></router-outlet>
    </div>
</div>