<div id="app" class="d-flex flex-column h-100 min-vh-100">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/" class="navbar-brand">Architecture Studio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- routerLinkActive and routerLinkActiveOptions are both used to mark the exact active link  -->
            <ul class="navbar-nav mr-auto" routerLinkActive="active">
                <li class="nav-item" *ngIf="canShowUsersSection" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/users']" class="nav-link">Users</a>
                </li>
                <li class="nav-item" *ngIf="canShowProjectsSection" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/projects']" class="nav-link">Projects</a>
                </li>
                <li class="nav-item" *ngIf="canShowCustomersSection" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a [routerLink]="['/customers']" class="nav-link">Customers</a>
                </li>
            </ul>
            <!-- Login display options -->
            <!-- Login button is showed in case de user is not logged -->
            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
                <li class="nav-item">
                    <a href="/login" class="nav-link" routerLink="login">Login</a>
                </li>
            </ul>
            <!-- Displays logged-in user information-->
            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                <li class="nav-item">
                    <a class="nav-link">
              Logged as: <strong>{{ username }}</strong>
            </a>
                </li>
                <!-- Log out button-->
                <li class="nav-item">
                    <a href class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container d-flex flex-column flex-fill justify-content-center">
        <router-outlet></router-outlet>
    </div>
</div>